@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "./base/mixins" as *;

@import "../../icons/style";

html,
body {
  height: 100vh;
}

body {
  background-color: #cccccc;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .cocktail {
    width: 100px;
    margin: 10px;
    img {
      @extend %responsive;
    }
  }
}
